<div>
  <div>
    <h1>
      Task #<%= @the_task.id %> details
    </h1>

    <div>
      <div>
        <a href="/tasks">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_task/<%= @the_task.id %>">
          Delete task
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_task.user_id %>
      </dd>

      <dt>
        Task name
      </dt>
      <dd>
        <%= @the_task.task_name %>
      </dd>

      <dt>
        Task detail
      </dt>
      <dd>
        <%= @the_task.task_detail %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_task.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_task.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit task
    </h2>

    <form action="/modify_task/<%= @the_task.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_task.user_id %>">
      </div>

      <div>
        <label for="task_name_box">
          Task name
        </label>

        <input type="text" id="task_name_box" name="query_task_name" value="<%= @the_task.task_name %>">
      </div>

      <div>
        <label for="task_detail_box">
          Task detail
        </label>

        <input type="text" id="task_detail_box" name="query_task_detail" value="<%= @the_task.task_detail %>">
      </div>

      <button>
        Update task
      </button>
    </form>
  </div>
</div>

<hr>
